*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: bisque !important;
}

body{
    font-family: sans-serif;
    background-color: #e8f0f7;
}
.header{
    /* background-color: rgb(19, 22, 26); */
    background-color: #255b60;
    position: fixed;
    width: 100%;top: 0;
}
.header_content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    height: 60px;
    min-height: 60px;
}
.logo{
    color:  bisque;
    font-size: 23px;
    font-weight: 500;
    letter-spacing: -1.5px;
}
.nav{transition: all 0.5s ease-in-out;}
.nav_list{
    display: flex;
    gap: 20px;
}
.nav_link{
    color: bisque;
    font-size: 15px;
    transition: color 0.4s;
    position: relative;
}
.nav_link::after{
    content: '';
    position: absolute;
    bottom: 0;left: 0;
    height: 2px;
    width: 100%;
    background-color: bisque;
    transform: scaleX(0);
    transform-origin: bottom right;
    transform-origin: bottom left;
    transition: transform 0.4s ease;
}
.nav_link:hover::after{
    transform: scaleX(1);
    color: rgba(255, 255, 255, 1);
}

.content{
    background-color: rgb(255, 237, 215);
    padding: 50px;
}
.content p{
    padding: 20px;
}
.hamburger{ display: none;cursor: pointer;}
.bar{
    width: 27px;
    height: 2px;
    background: bisque;
    margin: 5px 0;
    opacity: 0.8;
    transition: all 0.4s ease-in-out;
}

.nav--open{
    transform: translateX(0) !important;
}
.menu--open .bar:nth-child(1){
    transform: translateY(7px) rotate(45deg);
}
.menu--open .bar:nth-child(2){
    opacity: 0;
}
.menu--open .bar:nth-child(3){
    transform: translateY(-7px) rotate(-45deg);
}

@media screen and (max-width:1240px){
    .nav{
        position: fixed;
        top: 60px;
        left: 0;
        background-color: #255b60;
        width: 100%;
        padding: 10px 0 25px;
        transform: translateX(-100%);
    }
    .nav_list{
        flex-direction: column;
        align-items: center;
    }
    .nav_link{
        font-size: 14px;
    }
    .hamburger{
        display: block;
    }
}