*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


.top{
    text-align: center;
    padding: 20px 0;
    background-color: bisque;
}

.header{
    background-color:#255b60;
    padding: 20px 0;
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    z-index: 1;
}
.head_content{
    display: flex;
    align-items: center;
    justify-content: space-between !important;
}
.nav{
    transition: all 0.4s ease-in-out;
    flex: 3;
    padding-right: 10px;
}

/* sticky */

.header.sticky{
    position: fixed;
    top: 0;
 }

 .heading{
    flex: 1;
    color: #fcd58d;
    font-size: 25px;
    padding: 0  50px ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    cursor: pointer;
    position: relative;
}
.heading h2{
    font-family: math;
    font-weight: 300;
}
 .tm{
    font-size: 10px;
    position: absolute;
    top: 0;
    right: -16px;
}
nav ul{
    display: flex;
    list-style: none;
    gap: 20px;
}

nav ul li a{
    color: bisque;
    text-decoration: none;
    position: relative;
    padding-bottom: 21px;
}
nav ul li a::after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: bisque;
    transform-origin: bottom right;
    transition: transform 0.35s ease-out;
}
nav ul li a:hover::after{
    transform: scaleX(1);
    transform-origin: bottom left;
}

.content{
    background-color: rgb(255, 237, 215);
    padding: 80px;
}
.content p{
    padding: 20px;
    text-align: justify;
}

/* hamburger */
.hamburger{display: none;cursor: pointer; margin-left: 15px;}
.bar{
    display: block;
    width: 27px;
    height: 2px;
    background: bisque;
    margin: 5px 0;
    opacity: 0.8;
    transition: all 0.4s ease;
}

.nav--open{ transform: translateX(0) !important;}
.menu--open .bar:nth-child(1){ transform: translateY(7px) rotate(45deg); }
.menu--open .bar:nth-child(2){ opacity: 0; }
.menu--open .bar:nth-child(3){ transform: translateY(-7px) rotate(-45deg); }
/* responsive */


@media screen and (max-width:1393px){
    .heading{
        margin-bottom: 0;
    }
    .nav{
        position: fixed;
        top: 130px;
        left: 0;
        background-color: #255b60;
        width: 100%;
        padding: 10px 0 25px;
        transform: translateX(-100%);
    }
    .nav ul{
        align-items: center;
        flex-direction: column;
    }
    nav ul li a{
        padding-bottom: 7px;
    }
    .content{
        padding: 70px;
    }
    .hamburger{
        display: block;
    }
}
@media screen and (max-width:716px){
    .content{
        padding: 50px 30px 20px 30px;
    }
    .top{
        font-size: 12px;
    }
    
}