/* RESET & BASIC STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }
  
  a {
    color: inherit;
    text-decoration: none;
  }
  
  .container {
    padding: 0 15px;
  }
  
  .container-max {
    max-width: 1000px;
    margin: 0 auto;
  }
  
  /* HEADER */
  .page-header {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    padding: 20px 0;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.15);
  }
  
  .page-header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  ul{
    list-style: none;
    display: flex;
    gap: 10px;
    cursor: pointer;
    color: rgb(16, 145, 252);
  }

  /* SECTION */
  section {
    margin: 80px 0 20px;
  }
  
  section .text {
    max-width: 700px;
    margin: 0 auto ;
  }
  
  /* STICKY */
  .page-header.sticky {
    position: fixed;
    box-shadow: 0 5px 16px rgba(0, 0, 0, 0.1);
    padding: 8px 0;
    backdrop-filter: blur(10px);
  }
 
  